<div class="container">
  <div class="row">
    <div class="col">
      <div class="form">
        <h2 >User Profile</h2>
        <form (ngSubmit)="onUpdateUserProfile()" #profileForm="ngForm">
          <div class="form-group d-flex m-2">
            <label class="col-2" for="firstName">FirstName:</label>
            <input class="form-control" type="text" id="firstName" name="firstName" [(ngModel)]="userProfile.firstName" required />
          </div>
          <div class="form-group d-flex m-2">
            <label class="col-2" for="lastName">LastName:</label>
            <input class="form-control" type="text" id="lastName" name="lastName" [(ngModel)]="userProfile.lastName" required />
          </div>
          <div class="form-group d-flex m-2">
            <label class="col-2" for="email">Email:</label>
            <input class="form-control" type="email" id="email" name="email" [(ngModel)]="userProfile.email" required />
          </div>
          <div class="form-group d-flex m-2">
            <label class="col-2" for="phoneNumber">PhoneNumber:</label>
            <input class="form-control" type="number" id="phoneNumber" name="phoneNumber" [(ngModel)]="userProfile.phoneNumber" required />
          </div>
          <div class="form-group d-flex m-2">
            <label class="col-2" for="about">About:</label>
            <input class="form-control" type="text" id="about" name="about" [(ngModel)]="userProfile.about" required />
          </div>
          <div class="form-group d-flex m-3 justify-content-center">
            <button class="btn btn-outline-dark" type="submit" [disabled]="!profileForm.valid">
              Update Profile
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>