<section class="d-flex justify-content-center flex-wrap "   >
<div *ngFor="let item of Property" class="card col-md-6 col-lg-4 col-sm-12 d-inline-block m-3" style="width: 18rem;">
    
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://rawgit.com/creativetimofficial/material-kit/master/assets/img/bg2.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item ">
            <img src="https://rawgit.com/creativetimofficial/material-kit/master/assets/img/bg2.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item ">
            <img src="https://rawgit.com/creativetimofficial/material-kit/master/assets/img/bg3.jpg" class="d-block w-100" >
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div> 

          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5 class="card-title ">{{item.cityName}} / {{item.countryName}}</h5>
              <h2 class="card-title "><mat-icon>grade</mat-icon>{{item.propertyAllRating}} </h2>
            </div>
      <p class="card-text">{{item.propertyName}}</p>
      <h2 class="card-text"><mat-icon> attach_money</mat-icon>{{item.pricePerNight}}</h2>
    </div>
  </div>




</section>


