<div class="container">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center" >
    <h1>user-profile</h1>
    </div>
    <div class="col-md-12 m-2">
      <h2>FirstName</h2>
    <p>{{ userProfile.firstName }} </p>
    </div>
    <div class="col-md-12 m-2">
      <h2>LastName</h2>
    <p>{{ userProfile.lastName }}</p>
    </div>
    <div class="col-md-12 m-2">
      <h2>Email</h2>
    <p>{{ userProfile.email }}</p>
    </div>
    <div class="col-md-12 m-2">
      <h2>PhoneNumber</h2>
    <p>{{ userProfile.phoneNumber }}</p>
    </div>
    <div class="col-md-12 m-2">
      <h2>About</h2>
      <p>{{ userProfile.about }}</p>
    </div>
    <div>
    <a routerLink="/update" class="btn btn-secondary">edit</a>
  </div>
</div>
<!-- <div>
   <h3>FirstName</h3>
    <p>{{ userProfile.firstName }} </p>

   <h3>LastName</h3>
    <p>{{ userProfile.lastName }}</p>

   <h3>Email</h3>
    <p>{{ userProfile.email }}</p>

    <h3>PhoneNumber</h3>
    <p>{{ userProfile.phoneNumber }}</p>
    
    <h3>About</h3>
    <p>{{ userProfile.about }}</p>

    <a routerLink="/update" class="btn btn-secondary">edit</a>
  </div> -->
