<mat-card>
  <mat-card-title>Add Property</mat-card-title>
  <mat-card-content>
    <form
      #propertyForm="ngForm"
      (ngSubmit)="addProperty(propertyForm)"
      ngNativeValidate
    >
      <mat-form-field>
        <mat-label>Country:</mat-label>
        <mat-select
          [(ngModel)]="selectedCountry"
          (selectionChange)="onCountryChange()"
          name="country"
          required
        >
          <mat-option value="">Select Country</mat-option>
          <mat-option *ngFor="let country of countries" [value]="country.id">
            {{ country.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!selectedCountry">Country is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>City:</mat-label>
        <mat-select [(ngModel)]="selectedCity" name="city" required>
          <mat-option value="">Select City</mat-option>
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!selectedCity">City is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Category:</mat-label>
        <mat-select [(ngModel)]="selectedCategory" name="category" required>
          <mat-option value="">Select Category</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!selectedCategory">Category is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Amenities:</mat-label>
        <mat-select
          #selectList
          [(ngModel)]="property.AmenitiesId"
          multiple
          (selectionChange)="onAmenitySelectionChange($event)"
        >
          <mat-option *ngFor="let amenity of amenities" [value]="amenity.id">
            {{ amenity.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Property Name:</mat-label>
        <input
          matInput
          [(ngModel)]="property.propertyName"
          name="propertyName"
          required
        />
        <mat-error *ngIf="propertyForm.controls['propertyName']?.errors">
          Property Name is required
        </mat-error>
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-label>Images URLs:</mat-label>
        <textarea
          matInput
          [(ngModel)]="property.ImagesURLs"
          name="imagesURLs"
          required
          rows="5"
          cols="40"
        ></textarea>
        <mat-error *ngIf="propertyForm.controls['imagesURLs']?.errors">
          Images URLs are required
        </mat-error>
      </mat-form-field> -->

      <mat-form-field>
        <mat-label>Max Number of Guests:</mat-label>
        <input
          matInput
          [(ngModel)]="property.MaxNumberOfGuests"
          name="maxNumberOfGuests"
          type="number"
          required
        />
        <mat-error *ngIf="propertyForm.controls['maxNumberOfGuests']?.errors">
          Max Number of Guests is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bedrooms Count:</mat-label>
        <input
          matInput
          [(ngModel)]="property.BedroomsCount"
          name="bedroomsCount"
          type="number"
          required
        />
        <mat-error *ngIf="propertyForm.controls['bedroomsCount']?.errors">
          Bedrooms Count is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bathrooms Count:</mat-label>
        <input
          matInput
          [(ngModel)]="property.BathroomsCount"
          name="bathroomsCount"
          type="number"
          required
        />
        <mat-error *ngIf="propertyForm.controls['bathroomsCount']?.errors">
          Bathrooms Count is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Bed Count:</mat-label>
        <input
          matInput
          [(ngModel)]="property.BedCount"
          name="bedCount"
          type="number"
          required
        />
        <mat-error *ngIf="propertyForm.controls['bedCount']?.errors">
          Bed Count is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Price per Night:</mat-label>
        <input
          matInput
          [(ngModel)]="property.PricePerNight"
          name="pricePerNight"
          type="number"
          required
        />
        <mat-error *ngIf="propertyForm.controls['pricePerNight']?.errors">
          Price per Night is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Address:</mat-label>
        <input
          matInput
          [(ngModel)]="property.Address"
          name="address"
          required
        />
        <mat-error *ngIf="propertyForm.controls['address']?.errors">
          Address is required
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description:</mat-label>
        <textarea
          matInput
          [(ngModel)]="property.Description"
          name="description"
          required
        ></textarea>
        <mat-error *ngIf="propertyForm.controls['description']?.errors">
          Description is required
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">
        Add Property
      </button>
    </form>
  </mat-card-content>
</mat-card>
